.mem_list {
	height: auto !important;
    min-height: 70vh;
}

.mem_list > div > .sign_title {
	text-align: center;
	letter-spacing: -0.5px;
}

.mem_list > div > .sign_text {
    display: block;
    padding: 0 0px 7px;
}

.list-table { 
  margin-top: 20px;
  width: 1215px;
  font-size: 14px;
}

.list-table thead {
  height: 50px;
  border-top: 2px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  background-color: rgb(31, 31, 31);
  line-height: 50px;
  color: #fff;
  margin: 5px 0;
}

.list-table thead tr {
    font-weight: 600;
}

.list-table tbody tr {
  border-bottom: 1px solid #a09f9f;
}

.list-table tbody tr:last-child {
  border-bottom: 2px solid #a7a7a7;
}

.list-table tbody td {
  padding: 18px 5px;
  background-color: black;
  color: #fff;
}

.list-table tbody td a {
  text-decoration: none;
  color: #fff;
}

.list-table thead tr th:nth-child(1),
.list-table tbody tr td:nth-child(1) {
	width: 23%
}

.list-table thead tr th:nth-child(2),
.list-table tbody tr td:nth-child(2) {
	width: 12%
}

.list-table thead tr th:nth-child(3),
.list-table tbody tr td:nth-child(3) {
	width: 13%
}

.list-table thead tr th:nth-child(4),
.list-table tbody tr td:nth-child(4) {
	width: 10%
}

.list-table thead tr th:nth-child(5),
.list-table tbody tr td:nth-child(5) {
	width: 22%
}

.list-table thead tr th:nth-child(6),
.list-table tbody tr td:nth-child(6) {
	width: 10%
}

.list-table thead tr th:nth-child(7),
.list-table tbody tr td:nth-child(7) {
	width: 10%
}

.list-table.mem_list_css tbody tr td:nth-child(1),
.list-table.mem_list_css tbody tr td:nth-child(3),
.list-table.mem_list_css tbody tr td:nth-child(5),
.list-table.mem_list_css tbody tr td:nth-child(7) {
	letter-spacing: -1px;
}



.pagenation {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  z-index: 1000;
}

.pagenation li a {
  display: block;
  padding: 8px 12px;
  margin: 0 5px;
  background-color: rgb(31, 31, 31);
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.pagenation li a:hover {
  background-color: rgb(94, 88, 88);
}