@charset "UTF-8";
@import "theme.css";
@import "spot.css";

@font-face {
	font-family: 'Pretendard-Regular', sans-serif;
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Pretendard-Regular', sans-serif;
	letter-spacing: -1.8px;
}

a {
	font-family: 'Pretendard-Regular', sans-serif;
}

.cormorant-font {
	font-family: "Cormorant", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* default */
.d-flex {display: flex;}
.align-center {align-items: center;}
.justy-between {justify-content: space-between;}
.justy-center {justify-content: center;}

/* navigation -- 메뉴 */

header {
	color: #ffffff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.main_top {
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px 0 0px;
	height: 40px;
	background-color: #000000;
	font-weight: 600;
}

.main_top .logo a {
	text-decoration: none;
	color: #fff;
}

.logo {
	padding-left: 30px;
	width: 40px;
	height: auto;
}

.main_top > nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 100px;
}

.main_top > nav ul li {
	padding-right: 34px;
	height: 24px;
}

.main_top > nav ul li:last-child {
	padding-right: 30px;
	height: 24px;
}

header ul li a {
	position: relative;
	color: #fff; /* 링크의 기본 색상 */
	text-decoration: none;
	display: inline-block;
	padding: 5px 0;
	transition: color 0.3s ease-in-out;
}

header ul li a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px; /* 밑줄의 두께 */
	background-color: #fff; /* 밑줄의 색상 */
	transition: width 0.3s ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
}

ul li a:hover::after {
	width: 100%;
	transform: scaleX(1);
}

/* 덮는 메뉴 */

label .menu {
	position: absolute;
	right: -30px;
	top: -50px;
	z-index: 1005;
	width: 110px;
	height: 110px;
	cursor: pointer;
}
label .hamburger {
	position: absolute;
	top: 70px;
	left: 30px;
	width: 20px;
	height: 2px;
	background: #fff;
	display: block;
	transform-origin: center;
	transition: 0.5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
	transition: 0.5s ease-in-out;
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
}
label .hamburger:before {
	top: -7px;
}
label .hamburger:after {
	bottom: -7px;
}
label input {
	display: none;
}

label input:checked + .menu .hamburger {
	transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
	transform: rotate(90deg);
	bottom: 0;
}
label input:checked + .menu .hamburger:before {
	transform: rotate(90deg);
	top: 0;
}
label input:checked + .menu + ul {
	opacity: 1;
	transition: 0.25s ease-in-out 0.25s;
}

.slide-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	transition: width 0.8s ease-in-out, opacity 0.8s ease-in-out; 
	background-color: #000;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	opacity: 0;
}

.slide-menu img {
	width: 40%;
	height: 100%;
	object-fit: fill;
}

.vertical-menu {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 100px;
	list-style: none;
	padding: 20px;
	opacity: 1;
	transition: 0.5s ease-in-out 0.5s;
}

.vertical-menu.hidden {
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.vertical-menu li+li {
	margin: 10px 0;
}

.vertical-menu li a {
	font-size: 40px;
	font-family: "Cormorant", serif;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.vertical-menu li > p {
	font-size: 14px;
	letter-spacing: 1px;
}

label a {
	margin-bottom: 1em;
	display: block;
	color: #000;
	text-decoration: none;
}

label ul li a {
	color: #fff;
}

label input:checked ~ .slide-menu {
	width: 100%;
	opacity: 1;
}

label input:checked ~ .slide-menu .vertical_menu {
	opacity: 1;
}


.deco_box {
	z-index: -1;
	position: fixed;
	background-color: #000000;
	height: 50px;
	width: 100%;
}

.video-background {
	position: fixed; /* 고정 위치 */
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -2; /* 다른 콘텐츠 아래로 위치 */
	transform: translate(-50%, -50%);
	overflow: hidden; /* 비디오가 화면을 넘어가지 않도록 */
}

/* menu-btn-container -- 메뉴버튼 클릭시 생성되는 컨테이너 */

.menu-btn-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75vh;
	padding: 120px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	z-index: 99;
}

.container-hidden {
	display: none;
}

.container-fluid {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-inr {
	width: 1200px;
	padding: 40px;
}

footer {
	background-color: #212121;
	color: #ffffff;
	width: 100%;
	height: auto;
	position: absolute;
	padding: 30px 0 60px;
}

.main_bottom {
	padding: 0 30px;
	box-sizing: border-box;
}

.footer_text {
	border-bottom: 1px solid #ffffff;
		box-sizing: border-box; /* 필요 시 자식 요소에도 적용 */
}

.main_bottom > ul.footer_text {
	display: flex;
	align-items: center;
	height: 60px;
	font-weight: 600;
	border-bottom: 1px solid #ffffff;
}

.main_bottom > ul.footer_text > li {
	padding-right: 34px;
	
}

.footer_text_mini {
}

.footer_text_mini > div {
	padding: 15px 0 0px;
}

.footer_text_mini > div > span {
	display: inline-block;
	padding-right: 20px;
	font-size: 14px;
	font-weight: 600;
	color: gray;
}


/* type="number" 화살표 삭제 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox  */
input[type='number'] {
	-moz-appearance: textfield;
}

/* 버튼 기본 디자인 수정 */
button {
	position: relative;
	border: 2px solid #ffffff;
	border-radius: 5px;
	background-color: transparent;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: -1.5px;
	cursor: pointer;
	padding: 10px 20px;
	overflow: hidden; /* ::before 요소가 버튼을 벗어나지 않도록 함 */
	z-index: 1; /* 텍스트가 ::before 위에 나타나도록 설정 */
	transition: transform 0.2s ease; /* 버튼 흔들림을 위한 transition 추가 */
	box-sizing: border-box;
}

button:not(#idBtn):not(.notuseBtn)::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0; /* 처음에는 채워지지 않은 상태 */
	height: 100%;
	background-color: #ffffff;
	transition: width 0.5s ease; /* 애니메이션: 색이 채워지는 속도 및 부드러움 설정 */
	z-index: -1; /* 배경 색상이 텍스트 아래로 가도록 설정 */
}

button:not(#idBtn):not(.notuseBtn):hover::before {
	width: 100%; /* 마우스를 올리면 버튼의 배경이 왼쪽에서 오른쪽으로 채워짐 */
}

button:not(#idBtn):not(.notuseBtn):hover {
	color: #000000; /* 마우스를 올렸을 때 텍스트 색 변경 (필요 시) */
	animation: shake 0.3s ease; /* 마우스를 올렸을 때 흔들리는 애니메이션 */
}

/* 흔들리는 애니메이션 설정 */
@keyframes shake {
	0%, 100% {
		transform: translateY(0); /* 기본 위치 */
	}
	25% {
		transform: translateY(-3px); /* 위로 3px */
	}
	75% {
		transform: translateY(3px); /* 아래로 3px */
	}
}

/* 버튼 클릭 활성화 디자인 */
.useBtn {
	/* background-color: #ffffff;
	color: #000000; */
	transition: 0.5s;
}

/* 버튼 비활성화 */
.notuseBtn {
	border: 2px solid #a0a0a0;
	background-color: #a0a0a0;
	color: #000000;
	transition: 0.5s;
	box-sizing: border-box;
	pointer-events: none; /* 클릭 이벤트를 차단 */
}

select {
	background-color: transparent;
    color: #ffffff;
    border-width: 0 0 2px 0;
	height: 35px;
	line-height: 35px;
	outline: none;
}

/* 선택박스 내부 */
select option {
  color: black;
}

/* 스크롤바 숨기기 */
body {
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}