@charset "UTF-8";

.container {
	width: 600px;
	padding-top: 50px;
}

.form-group {
	flex-direction: row;
	box-sizing: border-box;
}

.form-group label {
	line-height: 50px;
	height: 50px;
	width: 120px;
	text-align: left;
	font-weight: 600;
	flex-shrink: 0;
}

.form-control {
	line-height: 50px;
	height: 50px;
	width: 100%;
}

.res_btn {
	padding: 30px;
}

.res_link a {
	position: relative;
	color: #9c9c9c;
	text-decoration: none;
	display: inline-block;
	padding: 5px 0;
	transition: color 0.3s ease-in-out;
}

.res_link a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #fff;
	transition: width 0.3s ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
}

.res_link a:hover::after {
	width: 100%;
	transform: scaleX(1);
}